In [12]:
import pandas as pd
import numpy as np
import sklearn
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [3]:
selected_df = pd.read_csv('./dataset/ifood_selected_columns.csv')
print(selected_df.head())

   Kidhome  Teenhome  Recency  NumDealsPurchases  NumWebPurchases  \
0        0         0       58                  3                8
1        1         1       38                  2                1
2        0         0       26                  1                8
3        1         0       26                  2                2
4        1         0       94                  5                5

   NumCatalogPurchases  NumStorePurchases  NumWebVisitsMonth  AcceptedCmp3  \
0                   10                  4                  7             0
1                    1                  2                  5             0
2                    2                 10                  4             0
3                    0                  4                  6             0
4                    3                  6                  5             0

   AcceptedCmp4  ...  Income_z  NumTotalPurchases  MeanAmtPerPurchase_log  \
0             0  ...  0.314651                 25                1.793511
1             0  ... -0.254877                  6                0.653213
2             0  ...  0.965354                 21                1.555728
3             0  ... -1.206087                  8                0.845098
4             0  ...  0.322136                 19                1.350656

   MntMeatProducts_ratio  MntFishProducts_ratio  MntSweetProducts_ratio  \
0               0.357096               0.112492                0.057554
1               0.285714               0.095238                0.047619
2               0.173025               0.151226                0.028610
3               0.416667               0.208333                0.062500
4               0.289926               0.113022                0.066339

   MntFruits_ratio  MntGoldProds_ratio  MntWines_ratio  MntRegularProds_ratio
0         0.057554            0.057554        0.415304               0.942446
1         0.047619            0.285714        0.523810               0.714286
2         0.066757            0.057221        0.580381               0.942779
3         0.083333            0.104167        0.229167               0.895833
4         0.105651            0.036855        0.425061               0.963145

[5 rows x 38 columns]

In [10]:
columns = selected_df.columns.to_list()
print(columns)
y_columns =  ['Response']
x_columns = columns.copy()
x_columns.remove('Response')
print(y_columns)
print(x_columns)

['Kidhome', 'Teenhome', 'Recency', 'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1', 'AcceptedCmp2', 'Complain', 'Response', 'Age', 'Customer_Days', 'marital_Divorced', 'marital_Married', 'marital_Single', 'marital_Together', 'marital_Widow', 'education_2n Cycle', 'education_Basic', 'education_Graduation', 'education_Master', 'education_PhD', 'AcceptedCmpOverall', 'Income_z', 'NumTotalPurchases', 'MeanAmtPerPurchase_log', 'MntMeatProducts_ratio', 'MntFishProducts_ratio', 'MntSweetProducts_ratio', 'MntFruits_ratio', 'MntGoldProds_ratio', 'MntWines_ratio', 'MntRegularProds_ratio']
['Response']
['Kidhome', 'Teenhome', 'Recency', 'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1', 'AcceptedCmp2', 'Complain', 'Age', 'Customer_Days', 'marital_Divorced', 'marital_Married', 'marital_Single', 'marital_Together', 'marital_Widow', 'education_2n Cycle', 'education_Basic', 'education_Graduation', 'education_Master', 'education_PhD', 'AcceptedCmpOverall', 'Income_z', 'NumTotalPurchases', 'MeanAmtPerPurchase_log', 'MntMeatProducts_ratio', 'MntFishProducts_ratio', 'MntSweetProducts_ratio', 'MntFruits_ratio', 'MntGoldProds_ratio', 'MntWines_ratio', 'MntRegularProds_ratio']

In [11]:
y_df = selected_df[y_columns]
x_df = selected_df[x_columns]

In [13]:
#split the dataset into training and testing sets by stratified sampling
x_train, x_test, y_train, y_test = train_test_split(x_df, y_df, test_size=0.2,stratify=y_df, random_state=42)

In [14]:
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(1764, 37) (441, 37) (1764, 1) (441, 1)